* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: 'Seoul';
    justify-content: center;
    text-align: center;
}

@font-face {
    font-family: 'Seoul';
    src: url(SeoulHangang\ CBL\ Regular.ttf);
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    width: 611px;
    height: 460px;
    border-radius: 28px;
    background: #134681;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 150px;
}

.buscar {
    width: 377.326px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8.816px;
    background: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    flex-direction: column;
    padding: 4px;
    margin-top: 25px;
}

.buscar input {
    font: 600 15px black;
}
        
#caixas {
    padding: 10px;
    background-color: #ffffff;
}

#senha {
    padding: 10px;
    background-color: #ffffff;
}

.buscar2 {
    width: 377.326px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8.816px;
    background: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    flex-direction: column;
    padding: 4px;
    margin-top: 25px;
}

.login2 {
    margin-bottom: 220px;
}

.sla {
    color: #FFF;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.buscar2 input {
    font: 600 15px black;
}

.termoCaixa {
    
}